hr {
  size: 4px;

  background-color: gray;
}

.row > .col {
  margin-bottom: 1rem;
}

/* profile dropdown menu */
.dropdown-menu {
  position: relative;
  background-color: rgb(18, 18, 18, 0.9) !important;
  color: white;
  border-radius: 2rem;
  padding: -6rem;
  transform: translate3d(0px, 0px, 0px);
  margin: 0rem;
  max-width: 0rem;
}
.dropdown-item {
  max-width: 0rem;
}

#profile-dropdown {
  background-color: tomato;
}

.dropdown-item {
  color: white;
  padding: 0px;
  padding-left: 1rem;
}

div.dropdown-menu.show {
}

/* footer */
small {
  color: gray;
}
.progress-bar {
  background-color: rgb(179, 179, 179);
  border: 2px solid rgb(179, 179, 179);
}
.progress {
  background-color: rgb(83, 83, 83);
}

div > p {
  overflow: hidden;
  max-width: 15ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* recently played */

.card-play-btn {
  fill: rgb(30, 215, 96);
  opacity: 0%;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 120px;
  right: 20px;
}

.card.p-3 {
  height: 270px !important;
  width: 200px !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* navbar */
#profile {
  font-size: 14px;
  font-weight: bold;
}

.carousel-inner {
  height: 500px !important;
}

.jumbotron {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(18, 18, 18, 1) 10%,
    rgb(77, 26, 26) 100%
  );
}

.image-text {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 5px;
  background-color: rgba(253, 253, 253, 0.1);
  color: white;
}

.image-text:hover {
  background-color: rgba(253, 253, 253, 0.2);
}

h3 {
  color: white;
}
body {
  background-color: rgb(18, 18, 18);
}

.row.jumbotron {
  background-color: black;
}

.card-img-top {
  box-shadow: 0px 0px 5px black;
  border-radius: 15px;
}

/* div > .card {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
} */

#dropdownMenuButton {
  background-color: black;
}
#pageControls {
  margin-left: 200px;
}
#profile {
}

#arrowReturn,
#arrowForward {
  background-color: black;
  opacity: 50%;
  border-radius: 50%;
}

.row.text-muted {
  background-color: rgb(26, 26, 26);
  box-shadow: 0px 0px 2px black;
}

.card.p-3 {
  height: 100%;
}
div > .card {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  box-shadow: 0px 0px 2px rgb(44, 44, 44);
  transition: 0.2s ease-in-out;
}

div > .card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
div > .card:hover .card-play-btn {
  opacity: 100%;
  top: 110px;
  right: 20px;
}

.card.p-3 {
  height: 100%;
}

/* ---side nav below--- */

main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  font-family: "Lato", sans-serif;
  background-color: black;
}

.nav-tabs .nav-link.active,
.nav-tabs .show > .nav-link {
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #787a7d6b;
}
.img-fluid {
  width: 80%;
  margin-top: 10px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  text-transform: capitalize;
  padding-left: 2px;
  margin: 20px;
}

ul li ::before {
  color: white;
}

ul a {
  color: rgb(203, 200, 200);
  font-weight: bold;
  font-size: x-small;
  text-decoration: none;
}

.navspan {
  padding: 10px;
}

.bi {
  font-size: 20px;
  font-weight: 400;
}
.list-group {
  font-size: x-small;
  color: white;
  font-weight: 600;
}
.list-group li {
  border: 0px;
  color: rgb(157, 153, 153);
  background-color: black;
}

/* Muhsin sidebar css */

/* Rafa Css */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;900&display=swap");
:root {
  --fadedWhite: hsla(0, 0%, 100%, 0.85);
}

body {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 28px;
  color: white;
}
h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
  color: white;
}
p {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 16px;
  color: var(--fadedWhite);
}

#allContentWrapper {
  background: rgb(18, 18, 18);
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 81%,
    rgba(20, 20, 20, 1) 89%,
    rgba(33, 33, 33, 1) 93%,
    rgba(37, 37, 37, 1) 96%,
    rgba(43, 43, 43, 1) 100%
  );
}

#allContentWrapper > main > section:last-child {
  margin-bottom: calc(10vh + 24px) !important;
}

#nav-sideBar #main-logo {
  color: white;
  width: 128px;
}

#nav-sideBar button,
#download-app {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  background-color: transparent;
  color: white;
  border: none;
  letter-spacing: 1px;
  outline: 0;
  opacity: 0.7;
  transition: opacity 0.2s linear, background-color 0.2s linear;
}

#nav-sideBar button:hover,
#nav-sideBar button:active,
#scrolling-menu > div > ul > li:hover,
#download-app:hover {
  opacity: 1;
}

#scrolling-menu > div > ul > li {
  opacity: 0.7;
  transition: opacity 0.2s linear, background-color 0.2s linear;
}

#nav-sideBar button:active,
#scrolling-menu > div > ul > li:active {
  background-color: rgba(158, 158, 158, 0.308);
}

#scrolling-menu > div > ul {
  font-size: 13px;
  letter-spacing: 0.7px;
  font-weight: 300;
  line-height: 30px;
}

#nav-sideBar hr {
  border-color: #363636;
  width: 80%;
}

#nav-sideBar {
  height: 90vh;
  padding-top: 24px;
  max-width: 232px;
  min-width: 232px;
  background-color: #000000;
  position: sticky;
  top: 0px;
}

/* color and fill start */

.nav-menu > li,
.nav-menu > li > a,
.mod-color-white,
.footer-music-name,
.mod-color-white,
.footer-music-name,
.footer-album-icons > .icon-target-area > svg,
#track-bar span,
.scrolling-menu > div > p,
#tracklist .table {
  color: white;
}

.square.mod-BGC > svg,
#download-app svg,
.scrolling-svg > svg,
.footer-album-icons > div > svg,
#player-controls > .icon-target-area > svg,
#pairingDevice > svg,
#volumeMute-icon svg,
#topBar .dropdown-menu .dropdown-item > svg {
  fill: white;
}

/* color and fill end */

.square {
  width: 24px;
  height: 24px;
  background-color: white;
}

.square.mod-BGC {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  background-image: linear-gradient(
    135deg,
    rgb(69, 10, 245),
    rgb(196, 239, 217)
  );
}

#scrolling-menu {
  width: 240px;
  max-height: 91%;
  overflow: hidden;
  position: absolute;
  top: 0;
  max-height: -webkit-fill-available;
}

#savedAlbums > div:first-child {
  height: -webkit-fill-available;
}

.scroll {
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 96%;
}

.scroll > ul > li {
  color: white;
  list-style: none;
  padding-right: 32px;
}

.footer-music-name {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

/* Top bar */

#topBar {
  background-color: rgb(18, 18, 18, 00);
  z-index: 9999;
  position: sticky;
  top: 0px;
  transition: background-color 0.4s ease;
}

.gradientBG {
  background-color: rgb(18, 18, 18, 100) !important;
  z-index: 15;
}

#topBar > div {
  position: sticky;
  top: 0px;
}

#topBarReturn > button {
  background: #181818;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4),
    -9px -9px 16px rgba(73, 73, 73, 0.6);
  border-radius: 20px;
  /* border-radius: 50%; */
  padding: 0px;
  width: 32px;
  height: 32px;
  transform: scale(1);
  transition: all linear 0.3s;
}

#topBarReturn > button > div > svg > polyline {
  stroke: var(--fadedWhite);
}

#topBarReturn > button:hover {
  stroke: white;
  transform: scale(1.2);
}

#topBar .dropdown {
  background-color: black;
  color: white;
  padding-left: 4px;
  border-radius: 24px;
  border: none;
}

#topBar .dropdown > button {
  color: white;
  white-space: nowrap;
  line-height: 28px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

#topBar .dropdown-menu {
  transform: translate3d(-104px, 38px, 0px) !important;
  background-color: #282828;
  box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
  max-width: 350px;
  min-width: 160px;
}

.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none !important;
}

#topBar .dropdown-menu .dropdown-item {
  color: var(--fadedWhite);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding: 16px 8px 16px 16px;
}

#topBar .dropdown-menu .dropdown-item:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

#topBar #avatarIMG {
  border-radius: 50%;
  overflow: hidden;
}

#memberMenu .btn-upgrade {
  background: #181818;
  box-shadow: 9px 9px 16px rgb(0 0 0 / 40%), -9px -9px 16px rgb(73 73 73 / 60%);
  border-radius: 20px;
  color: var(--fadedWhite);
  border-radius: 24px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 8px 34px;
  text-align: center;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 700ms cubic-bezier(0.3, 0, 0, 1);
}

#memberMenu .btn-upgrade:hover {
  color: white;
  border-color: white;
  transform: scale(1.05);
}

#memberMenu .btn-upgrade:active {
  background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
  border: 1px solid #272829;
  box-shadow: inset 2px 2px 4px;
}

#allContentWrapper {
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 60%,
    rgba(18, 18, 18, 0.9) 78%,
    rgb(133 132 99 / 80%) 93%,
    rgba(255, 252, 0, 0.6) 100%
  );
}

#memberMenu .btn-upgrade,
#topBarReturn > button {
  box-shadow: none;
}

#albumCover .album-img > img {
  width: 232px;
  height: 232px;
  object-fit: cover;
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
}

h1 {
  font-size: 74px;
  line-height: 74px;
  font-weight: 700;
}

@media (max-width: 992px) {
  #albumCover .album-img > img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
  }
  h1 {
    font-size: 52px;
    line-height: 56px;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .tableMusicTitle {
    max-width: 144px;
  }
}

@media (min-width: 992px) {
  .d-tableCell {
    display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .d-md-tableCell {
    display: table-cell !important;
  }
}

#albumCover .seeMore,
#albumCover .albumStats > p {
  color: white;
}

#albumCover span > a {
  color: white;
  font-weight: 600;
  font-size: 13px;
}

#albumCover p > span:nth-child(1) > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Table */

#trackTable {
  color: white;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 70%,
    rgba(18, 18, 18, 0.9) 80%,
    rgba(24, 24, 24, 0.8) 90%,
    rgba(43, 43, 43, 0.6) 100%
  );
}

#trackTable img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

#trackTable #tableHeader {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #b3b3b3;
}

#trackTable > div > table > thead > tr > th:nth-child(2) {
  width: 16px;
}

#trackTable > div > table > tbody > tr > th {
  width: 16px;
}

.table td,
.table th {
  vertical-align: middle;
}

#trackTable .trackNumber {
  width: 32px;
  height: 32px;
}

#trackTable .trackName {
  overflow: hidden;
}

#trackTable .tableMusicTitle {
  width: 100%;
  overflow: hidden;
}

#trackTable .trackDuration {
  max-width: 80px;
}

.modTranslate {
  transform: translateY(4px);
}

#tableHeader {
  transition: background-color 0.4s ease;
}

.image-artist-album {
  border: 0px;
  border-radius: 50%;
}
.bar-artist-texts {
  color: white;
}

.artist-name-span {
  font-size: small;
  display: block;
  padding-left: 5px;
}

.artist-name {
  font-size: 60px;
  align-items: flex-end;
}
.artist-name-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

/*icons*/
.icons-following {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-btn {
  margin-left: 30px;
}
.bi-three-dots {
  margin-left: 10px;
}
.bi-three-dots:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.4);
}
.follow-text {
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  padding: 3px 20px;
  opacity: 0.9;
}
.follow-text:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  opacity: 1;
  border: 1px solid white;
}
.bi-play-circle-fill {
  fill: rgb(255, 255, 255);
}
.bi-play-circle-fill:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
  opacity: 1;
}

.bi-heart:hover,
.bi-play:hover {
  fill: rgb(29, 185, 84);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
  animation: pulse 3s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
#show-less-more-text {
  cursor: pointer;
  opacity: 0.7;
  color: white;
  margin-bottom: 30px;
  padding-left: 30px;
}
#show-less-more-text:hover {
  opacity: 1;
}
.table-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.about-container {
  height: 100%;
  width: 90%;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(40, 40, 40);
  border-radius: 10px;
  margin-bottom: 40px;
}
.about-image {
  border: 0px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.about-text,
.about-p {
  margin-left: 40px;
}
.active {
  background-color: #fff;
}

.footer {
  height: 100px;
  width: 100%;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(24, 24, 24);
}
